.navbar{
    display: flex;
    height: 10vh;
    justify-content: space-between;
    background-color: rgb(255, 253, 253);
    align-items: center;

}
.navbar .left-side{
    display: flex;
    align-items: center;

}
.navbar .left-side i{
    margin: 0px 4px;
    font-size: 20px;

}
.navbar .right-side i{
margin: 0px 4px;

}
.navbar .right-side input{
    padding: 4px 4px;
    border-radius: 4px;

}

.navbar i{
    border: 2px solid rgb(17, 17, 17);
    padding: 4px;
    border-radius: 4px;
    
}